.toggleswitch {
    display: flex;
    position: relative;
  }
  
  .toggleswitch__checkbox {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0, 0.5);
    width: 50px;
    height: 30px;
    appearance: none;
  }
  
  .toggleswitch__slider {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    position: absolute;
  }
  
  .toggleswitch__slider-F {
    left: 28px;
    top: 3px;
  }
  
  .toggleswitch__slider-C {
    left: 5px;
    top: 3px;
  }
  
  .toggleswitch__temp-F {
    position: absolute;
    top: -3px;
    left: 30px;
    color: #fff;
  }
  
  .toggleswitch__temp-C {
    position: absolute;
    top: -7px;
    left: 14px;
    color: #fff;
  }
  
  .toggleswitch__active {
    color: white;
    font-size: 16px;
  }
  